@model PhoneDiary.Models.Address
    @{ 
        string longi = "19.9449799", lat = "50.0646501";
        int zoom = 17;
        if (Model.City.ToLower().Contains("kraków"))
        {
            lat = "50.049014";
            longi = "19.941949";
        }
        if (Model.City.ToLower().Contains("warszawa"))
        {
            lat = "52.1805956";
            longi = "20.9951466";
        }
        if (Model.City.ToLower().Contains("poznań"))
        {
            lat = "52.4134721";
            longi = "16.8988173";
        }
        else if(!Model.City.ToLower().Contains("kraków") && !Model.City.ToLower().Contains("warszawa") && !Model.City.ToLower().Contains("poznań"))
        {
            zoom = 5;
        }
        ViewBag.Title = "Szczegóły Adresu";
    }
<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap'
        async defer></script>

<script type='text/javascript'>
        
    function GetMap() {       
        var map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'AoHcBqMbT3RbPGBh82ogkaBwoaIqitOqCuBuLX1trprvtpZjTLKYit_JUoPvE-mP',
            center: new Microsoft.Maps.Location(@lat,@longi),
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            zoom: @zoom
        });
    }
</script>
<style>
    #myMap {
        position: relative;
        width: 600px;
        height: 400px;
    }
</style>



<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <span>
        <b>@Html.DisplayNameFor(model => model.Street)</b> :  @Html.DisplayFor(model => model.Street)
    </span>
    <span>
        <b>@Html.DisplayNameFor(model => model.City)</b> : @Html.DisplayFor(model => model.City)
    </span>
    <span>
        <b>@Html.DisplayNameFor(model => model.Country)</b> : @Html.DisplayFor(model => model.Country)
    </span>
</div>
<br />
<div id="myMap"></div>
<br />
<p>
    @Html.ActionLink("Powrót", "Index", "", new { @class = "btn btn-default" })
</p>